# Created by https://www.gitignore.io/api/matlab
# Edit at https://www.gitignore.io/?templates=matlab

### MATLAB ###
# Windows default autosave extension
*.asv
*.prj

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# Image file
*.jpg
*.png
*.psd


# Text file
*.text
*.docx

# Folder of app
adaptive_image/
anisotropic_image/
icon/
image_test/
output_textfile/
image_input/



# End of https://www.gitignore.io/api/matlab